*.o
*.mod
*.user

*.zip

*.bar
*.dat
*.log
*.gif
*.png
*.pdf

build*/
*.out
Session*/Session*

Exo09/times_01.txt
Exo09/Exo9
Exo10/Exo10
Exo11/Exo11
Exo12/Exo12
**/xmp/

Snippets/
lifesession/Session12/log.txt
lifesession/Session12/prog
lifesession/Session15/Session15
lifesession/Session16/Session16
lifesession/Session17/Session17
lifesession/Session18/Session18
lifesession/Session19/Session18
lifesession/Session20/Session20
lifesession/data.txt
lifesession/fort.10
lifesession/test_case
